<div id="loadingOverlay">
    <div id="loadingMessage">Ładowanie...</div>
</div>

<div id="messageContainer">
    <div id="responseActionDiv">Witaj w aplikacji WordMaster!</div>
</div>

<div id="topPanelContainer">
        <div id="firstTopPanelRow">
            <label class="label" id="lblPolishWord">Polskie słowo:</label>
            <input id="polishWordInput" type="text" class="input">
        </div>
        <div id="secondTopPanelRow">
            <label class="label" id="lblEnglishWord">Angielskie słowo:</label>
            <input id="englishWordInput" type="text" class="input">
    </div>
    <div id="buttonsTopPanelContainer">
        <button id="btnAdd" class="buttonTop">Dodaj</button>
        <button id="btnUpdate" class="buttonTop">Edytuj</button>
        <button id="btnDisplay" class="buttonTop">Wyświetl</button>
        <button id="btnClear" class="buttonTop">Wyczyść</button>
    </div>
</div>

<div id="wordsListContainer">
    <div>
        <div id="plWordDivTittle">PL</div>
        <div id="plWordsDiv"></div>
    </div>
    <div>
        <div id="engWordDivTittle">ENG</div>
        <div id="engWordsDiv"></div>
    </div>
</div>

<div id="bottomPanelContainer">
    <div id="firstBottomPanelRow">
        <label id="idLabel" class="label">Szukane Id:</label>
        <input id="idInput" type="text" class="input">
    </div>
    <div id="secondBottomPanelRow">
        <div id="buttonsBottomPanelContainer">
        <button id="btnSearch" class="buttonBottom">Szukaj</button>
        <button id="btnDelete" class="buttonBottom">Usuń</button>
        </div>
        <label id="countWords"></label>
    </div>
</div>